[Desktop Entry]
Exec=gksudo gbtsco
Icon=bt-logo
Type=Application
Name=gbtsco
GenericName=Gbtsco
Categories=GTK;GNOME;Settings;
Comment=Gbtsco - A Bluetooth Headset manager for GNOME
Comment[pl]=Gbtsco - Zarządca zestawu słuchawkowego Bluetooth dla GNOME
